# Build artifacts
build/
bin/
obj/
release/
zex-docs/

# Editor files
*.swp
*.orig
*.o
*.swo
*.tar

# Python
.venv
venv

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Core dumps
core
*.core
